body{
   font-family: 'Lato', sans-serif;
   background: linear-gradient(rgb(49, 222, 238),rgb(47, 144, 240));
   display: flex;
   height: 100vh;
   color: white;
   
}

ul{
   list-style-type:none;
}

li{
   margin-top: 10px;
}


.first{
   align-items: center;
   text-align: center;
   height: 15vh;
}

.second{
   margin-top: 5%;
   height: 30%;
}

.third{
   height: 35vh;
   font-weight: 700;
}

.bold{
   font-weight: 700;
   text-shadow: 1px 1px 2px grey;
   color: khaki;
}



#time,
#date{
   margin-bottom: 0;
   font-weight: 700;
   font-size: 1.5rem;
   color: grey;

}



#temp{
   font-size: 5vmax;
   font-weight: 700;
   color: white;
   text-shadow: 2px 2px 5px grey;
}

#location{
   font-size: 4vmax;
   font-weight: 700;
   text-shadow: 2px 2px 5px grey;
}

#weather-icon{
   width: 90%;
}


#description{
   font-weight: 700;
   font-size: 1.5vmax;
   text-align: center;
}